<!doctype html>
<!--[if lt IE 8]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if gt IE 9]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en"><![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Website Title</title>
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body class="body">
    <header class="header" id="v-menu">
      <div class="layout">
        <div class="header__left">
          <div class="header__left-content" >
            <a href="#" class="logo"><img src="/images/logo.png" class="logo__image"></a>

              <ul ref="header__menu" class="header__menu header-menu" v-if="windowWidth > 736">
                  <li class="header-menu__item" v-for='(menu,key) in menu' v-if="menu.window < windowWidth"><a href="#" class="header-menu__link">{{ menu.name }}</a></li>
                  <div class="header-menu__item"><a class="header-menu__link" v-on:click="showDropdown = !showDropdown">Еще</a>
                    <ul class="header-menu__dropdown-content" v-show="showDropdown">
                        <li class="header-menu__item header-menu__item--vertical" v-for='(menu,key) in menu' v-if="menu.window > windowWidth">{{ menu.name }}</li>
                    </ul>
                </div>
              </ul>
        </div>
        </div>
        <div v-bind:class="[{ 'header__right': windowWidth > '736' }, {'header__left': windowWidth < '736'}]">
            <div class="header__right-mobile"></div>
            <div class="header__right-content">
              <div class="header__notice h-notice">
                <div class="header__notice-counter">2</div>
              </div>
                <div class="user-info header__user-info">
                  <img src="/images/avatar.jpg" class="user-info__image">
                  <div class="user-info__profile">
                    <span class="user-info__name">Руслан Баталгазиев</span>
                    <span class="user-info__company">ТОО «Сакенов»</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </header>

    <div class="layout layout__page">
      <div class="page my-trips">
        <h1 class="page__title">Мои поездки</h1>
          <div class="my-trips__counter">
            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--bold">350 шт.</span><br>
              <span class="counter__month counter__month--bold">8 920 шт.</span><br>
            </div>


            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--green">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>

            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--blue">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>

            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--orange">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>

            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--red">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>
          </div>
        </div>
        <div class="page">
        <div class="content">
        <p class="demo-block">Content</p>
        </div><div class="sub-content">
        <p class="demo-block">Sub-content</p>
        </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="footer__text">© 2015-2016. Все права защищены.<br>Professional Travel Service.</p>
    </div>
    <script src="/script/src/vue.js"></script>
    <script src="script/main.js" defer="defer"></script>
    <script>
      var app = new Vue({
        el: '#v-menu',
        data: {
          userPosition: 'header__right',
          windowWidth: 0,
          showDropdown: false,
          counter:0,
          menu: [
            {
              name: 'Дэшбоард',
              link: '#',
              window: 720
            },
            {
              name: 'Бронирование',
              link: '#',
              window: 850
            },
            {
              name: 'Мои заявки',
              link: '#',
              window: 970
            },
            {
              name: 'Мои поездки',
              link: '#',
              window: 1100
            },
            {
              name: 'Мои сотрудники',
              link: '#',
              window: 1250
            },
            {
              name: 'Пресс-служба',
              link: '#',
              window: 1350
            }
          ]
        },
        mounted() {
          this.$nextTick(function() {
              window.addEventListener('resize', this.getWindowWidth);
              this.getWindowWidth()
          })
        },

        beforeDestroy() {
          window.removeEventListener('resize', this.getWindowWidth);
        },
        methods: {
          getWindowWidth(event) {
            this.windowWidth = document.documentElement.clientWidth;
          }
        }
      })
    </script>
  </body>
</html>
