<!doctype html>
<!--[if lt IE 8]><html lang="en" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if gt IE 9]><html lang="en"><![endif]-->
<!--[if !IE]><html lang="en"><![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Website Title</title>
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <link rel="stylesheet" href="style/style.css">
    <script src="/script/src/svg4everybody.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body class="body">
    <header class="header" id="v-menu">
      <div class="layout">
        <div class="header__left">
          <div class="header__left-content" >
            <a href="#" class="logo"><img src="/images/logo.png" class="logo__image"></a>

              <ul ref="header__menu" class="header__menu header-menu" v-if="windowWidth > 736">
                  <li class="header-menu__item" v-for='(menu,key) in menu' v-if="menu.window < windowWidth"><a href="#" class="header-menu__link">{{ menu.name }}</a></li>
                  <div class="header-menu__item"><a class="header-menu__link" v-on:click="showDropdown = !showDropdown">Еще</a>
                    <ul class="header-menu__dropdown-content" v-show="showDropdown">
                        <li class="header-menu__item header-menu__item--vertical" v-for='(menu,key) in menu' v-if="menu.window > windowWidth">{{ menu.name }}</li>
                    </ul>
                </div>
              </ul>
        </div>
        </div>
        <div v-bind:class="[{ 'header__right': windowWidth > '736' }, {'header__left': windowWidth < '736'}]">
            <div class="header__right-mobile"></div>
            <div class="header__right-content">
              <div class="header__notice h-notice">
                <div class="header__notice-counter">2</div>
              </div>
                <div class="user-info header__user-info">
                  <img src="/images/avatar.jpg" class="user-info__image">
                  <div class="user-info__profile">
                    <span class="user-info__name">Руслан Баталгазиев</span>
                    <span class="user-info__company">ТОО «Сакенов»</span>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </header>

    <div class="layout layout__page">
      <div class="page my-trips">
        <h1 class="page__title">Мои поездки</h1>
          <div class="my-trips__counter">
            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--bold">350 шт.</span><br>
              <span class="counter__month counter__month--bold">8 920 шт.</span><br>
            </div>


            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--green">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>

            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--blue">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>

            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--orange">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>

            <div class="my-trips__counter counter-item">
              <span class="counter__desc">Кол-во заявок сут./мес.</span><br>
              <span class="counter__day counter__day--red">350 шт.</span><br>
              <span class="counter__month">8 920 шт.</span><br>
            </div>
          </div>
          <div class="my-trips__table">
          <table class="table">
            <tr class="table__row table__row--header">
                <th class="table__cell table__cell--header"></th>
                <th class="table__cell table__cell--header">№ заявки</th>
                <th class="table__cell table__cell--header">Дата заявки</th>
                <th class="table__cell table__cell--header">Пассажир</th>
                <th class="table__cell table__cell--header">Дата и маршрут</th>
                <th class="table__cell table__cell--header">Бронь и билет</th>
                <th class="table__cell table__cell--header">Сумма и оплата</th>
                <th class="table__cell table__cell--header">Статус</th>
                <th class="table__cell table__cell--header"></th>
            </tr>
            <tr class="table__row">
                <td class="table__cell" data-th="">
                    <div class="circle circle--active"></div>
                </td>
                <td class="table__cell" data-th="№ заявки:"><a href="#" class="text text--weight-medium text--color-blue">№1397</a><br><span
                        class="text text--size-small text--color-grey">Air BSP</span></td>
                <td class="table__cell" data-th="Дата заявки:"><span class="text">30.03.18<br>11:34</span></td>
                <td class="table__cell" data-th="Пассажир:"><a href="#" class="text text--underline text--color-blue">Коробейников
                            Сергей</a></td>
                <td class="table__cell" data-th="Дата и маршрут:"><a class="text text--underline text--color-blue" href="#">Алматы</a><br>
                    <div style="width:120px">
                        <div style="float:left;"><span class="text text--weight-bold">06.07.18</span><br><span class="text text--color-grey-light">19:55</span></div>
                        <div style="float:left;"><span class="text text--weight-bold">&nbsp;-&nbsp;</span></div>
                        <div style="float:left;"><span class="text text--weight-bold">07.07.18</span><br><span class="text text--color-grey-light">05:45</span></div>
                    </div>
                </td>
                <td class="table__cell" data-th="Бронь и билет:"><span class="text text--weight-medium">Air Astana</span><br><span
                        class="text">27735908<br>72231101875143</span></td>
                <td class="table__cell" data-th="Сумма и оплата:"><span class="text text--weight-medium text--bgcolor-yellow text--size-small">115
                        300 <span class="text text__tenge">₸</span></span><br><span class="text text--color-grey-light text--size-small">Ожидает
                        оплаты
                    </span></td>
                <td class="table__cell" data-th="Статус:"><span class="text text__button--green">ОФОРМЛЕН</span><br><span
                        class="text text--size-small">Айтуаров А. А.</span></td>
                <td class="table__cell">
                    <div class="icon icon--border"><svg class="svg-icon"><use xlink:href='/images/sprite.svg#icon-table-copy'></use></svg></div>
                    <div class="icon icon--border"><svg class="svg-icon"><use xlink:href='/images/sprite.svg#icon-table-copy'></use></svg></div>
                    <div class="icon icon--border"><svg class="svg-icon"><use xlink:href='/images/sprite.svg#icon-mail'></use></svg></div>
                    <div class="icon"><svg class="icon-more-table" style="height:4px; width:18px;"><use xlink:href='/images/sprite.svg#icon-more-table'></use></svg></div>
                </td>

            </tr>

            <tr class="table__row">
                <td class="table__cell" data-th="">
                    <div class="circle"></div>
                </td>
                <td class="table__cell" data-th="№ заявки:"><a href="#" class="text text--weight-medium text--color-blue">№1397</a><br><span
                        class="text text--size-small text--color-grey">offline, Air BSP</span></td>
                <td class="table__cell" data-th="Дата заявки:"><span class="text">30.03.18<br>11:34</span></td>
                <td class="table__cell" data-th="Пассажир:"><a href="#" class="text text--underline text--color-blue">Коробейников
                            Сергей</a></td>
                <td class="table__cell" data-th="Дата и маршрут:">
                    <div class="text"><a class="text text--underline text--color-red" href="#">Петропавловск</a></div>
                    <div><span class="text text__button--red">ЗАДЕРЖАН РЕЙС</span><br>
                        <div style="width:120px">
                            <div style="float:left;"><span class="text text--weight-bold">06.07.18</span><br><span class="text text--color-grey-light">19:55</span></div>
                            <div style="float:left;"><span class="text text--weight-bold">&nbsp;-&nbsp;</span></div>
                            <div style="float:left;"><span class="text text--weight-bold">07.07.18</span><br><span class="text text--color-grey-light">05:45</span></div>
                        </div>
                    </div>
                </td>
                <td class="table__cell" data-th="Бронь и билет:"><span class="text text--weight-medium">Air Astana</span><br><span
                        class="text">27735908<br>72231101875143</span></td>
                <td class="table__cell" data-th="Сумма и оплата:"><span class="text text--weight-medium text--bgcolor-yellow text--size-small">115
                        300 <span class="text text__tenge">₸</span></span><br><span class="text text--light-two text--size-small">Ожидает
                        оплаты
                    </span></td>
                <td class="table__cell" data-th="Статус:"><span class="text text__button--green">ОФОРМЛЕН</span><br><span
                        class="text text__size--small">Айтуаров А. А.</span></td>
                <td class="table__cell">
                    <div class="icon icon--border"><svg class="svg-icon"><use xlink:href='/images/sprite.svg#icon-table-copy'></use></svg></div>
                    <div class="icon icon--border"><svg class="svg-icon"><use xlink:href='/images/sprite.svg#icon-table-copy'></use></svg></div>
                    <div class="icon icon--border"><svg class="svg-icon"><use xlink:href='/images/sprite.svg#icon-mail'></use></svg></div>
                    <div class="icon"><svg class="icon-more-table" style="height:4px; width:18px;"><use xlink:href='/images/sprite.svg#icon-more-table'></use></svg></div>
                </td>
            </tr>
        </table>
        </div>
      </div>
    </div>
    </div>
    <div class="footer">
      <p class="footer__text">© 2015-2016. Все права защищены.<br>Professional Travel Service.</p>
    </div>
    <script src="/script/src/vue.js"></script>
    <script src="script/main.js" defer="defer"></script>
    <script>
      var app = new Vue({
        el: '#v-menu',
        data: {
          userPosition: 'header__right',
          windowWidth: 0,
          showDropdown: false,
          counter:0,
          menu: [
            {
              name: 'Дэшбоард',
              link: '#',
              window: 720
            },
            {
              name: 'Бронирование',
              link: '#',
              window: 850
            },
            {
              name: 'Мои заявки',
              link: '#',
              window: 970
            },
            {
              name: 'Мои поездки',
              link: '#',
              window: 1100
            },
            {
              name: 'Мои сотрудники',
              link: '#',
              window: 1250
            },
            {
              name: 'Пресс-служба',
              link: '#',
              window: 1350
            }
          ]
        },
        mounted() {
          this.$nextTick(function() {
              window.addEventListener('resize', this.getWindowWidth);
              this.getWindowWidth()
          })
        },

        beforeDestroy() {
          window.removeEventListener('resize', this.getWindowWidth);
        },
        methods: {
          getWindowWidth(event) {
            this.windowWidth = document.documentElement.clientWidth;
          }
        }
      })
    </script>
  </body>
</html>
