.my-trips {
  font-size: 14px;

  &__counter {
    padding: 25px 0 10px;
    overflow: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__app {
    &-number {
      font-weight: 500;
      line-height: 1.43;
      @include underline;
      @include text-color(blue);
    }
    &-company {
      font-size: 13px;
      line-height: 1.54;
      @include text-color(grey);
    }
  }

  &__date_app {
    @include text-color(grey);
    line-height: 1.14;
  }

  &__passenger {
    line-height: 1.43;
    color: #3052d0;
    @include underline;
  }

  &__route {
    &-city {
      @include text-color(blue);
      @include underline;
    }
  }
  &__download {
    float: right;

  }
  &__search {
    padding: 0px 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

}
