.circle {
  width: 14px;
  height: 14px;
  background: #d5d7de;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.circle--active {
  background: #466dff;
}
.button__icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  background-color: #ffffff;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  color: #395BD3;
}
.button__icon--simple svg {
  max-width: 18px;
  max-height: 18px;
}
.button__icon--border {
  border-radius: 5px;
  border: solid 1px #e1e5e6;
}
