.layout {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1350px;
  position: relative;
  @media (min-width: 680px) {
    padding: 0 25px;
  }
  &__page {
    padding: 15px 15px;
    @media (min-width: 680px) {
      padding: 30px 25px;
    }
  }
}
